body {
    background-color: white;
}
#partyMode {
    height: 100vh;
    width: 100vw;
    background: url('https://thumbs.gfycat.com/ShallowDependableEasteuropeanshepherd-size_restricted.gif');
    background-size: 100%;
    opacity: 50%;
}

